*{ padding: 0;margin: 0;}
body , html , section{ width: 100%;height: 100%;overflow: hidden;background: #ebebeb;}

input{ -webkit-appearance: none;}

header table{ height: 80px;margin: auto;}
header table img{ height: 32px;margin-right: 5px;}
header table span{ display: block;margin: 5px 0;}
.shopName{ font-size: 15px;}
.evaluate{ font-size: 12px;color: #a6a8ab;}
.evaluate span{ display: inline;}
.evaluate .star{ height: 12px;}
.evaluate .fs{ color: #fa9f00;margin-right: 5px;}

.input{ height: 55px;margin: 0 15px;background: #fff;border: 1px solid #999596;border-radius:5px;padding: 0 10px;line-height: 55px;}
.input span{ display: block;}
.inputPrompt{ float: left;font-size: 13px;color: #9b9b9b}
.amountBox{ float: right;font-size: 16px;font-weight: bold;}
.amount{ font-size: 24px;float: right;}

.keyboard table{ width: 100%;border-collapse: collapse;}
.keyboard table td{ border:1px solid #cbcbcb;background: #fff;text-align: center;height: 53px;font-size: 21px;font-weight: bold;}
.keyboard table td:active{ background: #b5e4f0;}
.del{ height: 17px;}
.keyboard table td.surePay{ background: #00a0e8;color:#fff;}
.prompt{ text-align: center;font-size: 10px;color: #a8a9ad;margin: 15px 0;}

.ad{ overflow: hidden;}

.evaluateBox{ background: #fff;border-top:1px solid #d2d0ce;border-bottom: 1px solid #d2d0ce;}
.score{ border-bottom: 1px solid #ececec;}
.score table{ width: 90%;margin: 0 5%;height: 57px;font-size: 15px;}
.score table img{ height: 27px;margin-top: 5px;}
.evaluateBox textarea{ width: 90%;margin: 5%;height: 100px;resize:none;border:none;outline: none;}

.btn{ width: 90%;margin: 5%;border:none;background: #36B8D8;color: #fff;font-weight: bold;font-size: 16px;height: 42px;border-radius:5px;}

.payState{ background-color: #fff;text-align: center;padding: 20px 0;}
.stateImg{ margin-bottom: 20px;}
.stateMsg{ font-size: 16px;color: #00CD78;}

.settlementList{ background-color: #fff;padding: 20px;margin-top: 10px;}
.settlementTitle{ font-size: 16px;padding: 5px 0;border-bottom: 1px dashed #C6C6C6;}
.settlementList table{ font-size: 12px;width: 100%;}
.settlementList table td{ padding-top: 10px;}

.hdList{ list-style: none;}
.hdList li{ background-color: #fff;line-height: 100px;text-align: center;}

