<div ng-controller="ProducersCtrl">
    <ul class="list-unstyled">
        <li class="row" style="width: 100%;margin:0;border-bottom:1px solid #ccc;padding: 6px 0;box-sizing: border-box" ng-repeat="a in json">
            <div class="col-xs-2" style="line-height: 50px;white-space:nowrap;color: red;" ng-click="remove(a.id)">删除</div>
            <div class="col-xs-4 row" style="margin: 0;">
                <img ng-src={{a.img}}
                    class="col-xs-6" style="padding-right:5px;padding-left:0;">
                <div class="col-xs-6" style="padding-right:0;padding-left:0;">
                    <p style="font-size: 12px;overflow: hidden;white-space:nowrap;text-overflow:ellipsis;width: 100%;margin: 7px 0 5px 0">{{a.name}}</p>
                    <p style="font-size: 12px;white-space:nowrap;">￥<b>{{a.ke}}</b>元</p>
                </div>
            </div>
            <div class="col-xs-3" style="margin: 0;padding-left:0; padding-right: 0">
                <div class="input-group" style="margin: 10px 0;">
                    <div class="input-group-addon" style="padding:9px;" ng-click="add(a.id)">+</div>
                    <input type="number" class=" form-control " value="{{a.Number}}"  ng-model="a.Number" style="text-align: center;padding: 0;">
                    <div class="input-group-addon" style="padding:9px;" ng-click="reduce(a.id)">-</div>
                </div>
            </div>
            <div class="col-xs-3" style="margin-left:-5px"><b>总价:</b><br/><b style="text-align: right;display: block;white-space:nowrap;"><b>￥{{a.Number*a.ke |number:2}}</b>元</b> </div>
        </li>
    </ul>
    <p style="text-align: right;padding: 0 12px;box-sizing: border-box"><span style="color: red;">合计：<b>{{Total()|number:2}}</b>元</span></p>
    <div class="row" style="padding:13px 12px;box-sizing: border-box;margin-right: 0;border-bottom: 4px solid #eee;border-top:4px solid #eee;">
        <span class="col-xs-6">使用优费券</span><span class="col-xs-6" style="text-align: right;color: red;">抵扣<b>0.00</b>元</span>
    </div>
    <div style="padding: 10px 12px;box-sizing: border-box">
        <p style="text-align: left"><span>应支付金额</span></p>
        <p style="text-align: center;font-size: 18px;border-bottom: 1px solid #ccc"> ￥ <b>{{Total()|number:2}}</b>元</p>
    </div>
    <button type="button"  class="btn btn-danger btn-lg btn-block" style="width: 80%;margin: 0 auto;" ng-click="app()">确认付款</button>
</div>