<section ng-controller="moreCtrl">
	<div ng-show="myCont" class="container">
		<div class="moreRow">
			<div class="row" ng-click="toPointDetail()">
				<div class="col-sm-6 col-xs-6 more_title">我的积分</div>
				<div class="col-sm-6 col-xs-6 more_cont">
					<span style="color: #FF0606;margin-right: 10px;">{{point}}</span>
					<span class="glyphicon glyphicon-chevron-right"></span>
				</div>
			</div>
		</div>
		<div class="moreRow">
			<div class="row" ng-click="toMyOrder()">
				<div class="col-sm-6 col-xs-6 more_title">我的账单</div>
				<div class="col-sm-6 col-xs-6 more_cont">
					<span class="glyphicon glyphicon-chevron-right"></span>
				</div>
			</div>
		</div>
	</div>
		
	<div ng-show="inputPhone">
		<div class="inputBox_more">
			<div class="row">
				<div class="col-sm-12 col-xs-12" style="margin-bottom: 20px;">
					<div class="input-group">
						<input type="text" class="form-control" placeholder="请输入手机号" ng-model="phone"> 
						<span class="input-group-btn">
							<button class="btn btn-default" type="button" id="getCodeBtn" ng-click="getCodeBtn()" >获取验证码</button>
						</span>
					</div>
				</div>
				<div class="col-sm-12 col-xs-12">
					<div class="input-group">
						<input type="text" class="form-control" placeholder="输入验证码" ng-model="vacode"> 
						<span class="input-group-btn">
							<button class="btn btn-default colors" type="button" ng-click="bindPhone()">确定</button>
						</span>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>