<!-- <section ng-controller="shoppingCtrl" ng-init="num='0';needPoint='0'">
	<div class="container">
		<div class="row userMsg" ng-show="userMsg">
			<div class="col-sm-6 col-xs-6">
				用户：{{cellPhone}}
			</div>
			<div class="col-sm-6 col-xs-6 text-right">
				积分：<font color="red">{{point}}</font>
			</div>
		</div>
	
		<div class="row" ng-show="inputPhone">
			<div class="col-sm-7 col-xs-7 phoneBox">
				<div class="input-group">
					<input type="tel" class="form-control phoneInput" placeholder="请输入手机号" ng-model="phone"> 
					<span class="input-group-btn">
						<button class="btn btn-default getCode" type="button" ng-click="getCodeBtn()" id="getCodeBtn">获取验证码</button>
					</span>
				</div>
			</div>
			<div class="col-sm-5 col-xs-5 phoneBox">
				<div class="input-group">
					<input type="tel" class="form-control phoneInput" placeholder="输入验证码" ng-model="vacode"> 
					<span class="input-group-btn">
						<button class="btn btn-default getCode colors" type="button" ng-click="bindPhone()">确定</button>
					</span>
				</div>
			</div>
		</div>
		
		<div class="row">
			<div class="col-sm-6 col-xs-6 listBox_shopping" ng-repeat="g in goodsList">
				<div class="box">
					<div style="text-align: center;">
						<img src="{{g.imgUrl}}" class="sImg">
					</div>
					<div class="name">{{g.goodName}} {{g.unit}}</div>
					<div class="point">
						<img src="{{ctx}}/hm/images/point_icon_2.png" class="pointImg">{{g.point}}积分
						<span class="raw">￥{{g.unitPrice}}</span>
					</div>
					<div class="dhBtn">
						<button type="button" class="btn btn-default dh" ng-click="pointChange()">兑换</button>
					</div>
				</div>
			</div>
		</div>
	</div>
	
	<div id="dialog">
		<div class="ceng" onclick="document.getElementById('dialog').style.display='none'"></div>
		<div class="shoppingDetail">
			<div class="cont">
				<div class="imgAndName">
					<div class="row">
						<div class="col-sm-5 col-xs-5 paddingN">
							<div class="dImgBox">
								<img src="{{imgUrl}}" class="dImg">
							</div>
						</div>
						<div class="col-sm-7 col-xs-7 paddingN detailName">
							{{goodName}}
						</div>
					</div>
				</div>
				<div class="chooseNum">
					<div class="row marginN">
						<div class="col-sm-3 col-xs-3 paddingN" style="line-height: 30px;">选择数量</div>
						<div class="col-sm-5 col-xs-5 paddingN">
							<input type="button" class="jian" ng-click="jian()">
							<input type="tel" class="num" ng-model="num">
							<input type="button" class="jia" ng-click="jia()">
						</div>
						<div class="col-sm-4 col-xs-4 paddingN needPoint" style="line-height: 30px;">需要{{needPoint}}积分</div>
					</div>
				</div>
				<input type="button" value="兑换" class="sub" ng-click="sub()">
			</div>
		</div>
	</div>
</section> -->
<section style="text-align: center;line-height: 200px;">
	建设中
</section>