html , body , section{ width: 100%;height: 100%;padding: 0;margin: 0;overflow: hidden;}

ul , li{ padding: 0;margin: 0;list-style: none;}

input{ -webkit-appearance: none;}

header{ background: #c00000;height: 44px;color: #fff;}
header table{ width: 100%;height: 44px;}
header table img{ height: 15px;display: inline-block;position: relative;top: 3px;margin-right: 5px;}
header table td{ padding: 0 10px;font-size: 13px;}
header table .title{ font-size: 18px;}

.goodsList li{ width: 100%;height: 100px;border-bottom: 1px solid #e6e6e6;}
.goodsList li table{ width: 100%;height: 100px;border-collapse: collapse;}
.goodsList .goodsImg{ width: 100px;text-align: center;}
.goodsList .goodsImg img{ max-width: 80px;max-height:80px;}
.goodsList .goodsName{ height: 40px;font-size: 13px;margin-bottom: 10px;}
.goodsList .medal{ font-size: 14px;color: #c00000;margin-right: 20px;}
.goodsList .money{ font-size: 11px;color: #bfbfbf;text-decoration: line-through;}
.goodsList .stock{ font-size: 11px;color: #bfbfbf;}
.goodsList .goodsBtn{ width: 60px;height: 25px;font-size: 11px;color: #fff;background: #c00000;border-radius:5px;border:none;float: right;margin-right: 10px;}

.addBtn{ width: 100%;height: 44px;background: #fff;margin-top: 5px;}
.addBtn input{ width: 70%;height: 30px;background: #c00000;color: #fff;font-size: 14px;border-radius:5px;margin: 6px 15%;border: none;}

.addressBox{ width: 100%;height: 80px;background: #fff;}
.addressBox table{ width: 100%;height: 80px;border-collapse: collapse;}
.addressBox .name , .addressBox .cell{ font-size: 14px;}
.addressBox .detail{ font-size: 12px;}
.addressBox .addressImg{ width: 43px;text-align: center;}
.addressBox .toImg{ width: 27px;text-align: center;}
.addressBox .addressImg img{ width: 20px;}
.addressBox .toImg img{ height: 15px;}

.subBox{ width: 100%;height: 44px;background: #fff;position: absolute;bottom: 0;}
.subBox table{ width: 100%;height: 44px;border-collapse: collapse;}
.subBox input{ width: 100%;height: 100%;background: #c00000;color: #fff;font-size: 16px;border: none;}
.subBox .totalText{ font-size: 13px;text-align: right;padding-right: 10px;}

.titleBox{ width: 100%;height: 44px;line-height: 44px;background: #fff;margin-top: 5px;padding: 0 10px;font-size: 12px;}

.goodsBox{ width: 100%;height: 90px;background: #fff;border-bottom: 1px solid #f2f2f2;}
.goodsBox table{ width: 100%;height: 90px;border-collapse: collapse;}
.goodsBox .goodsImg{ width: 100px;text-align: center;}
.goodsBox .goodsImg img{ max-width: 80px;max-height:80px;}
.goodsBox .goodsName{ height: 40px;font-size: 13px;margin-bottom: 10px;}
.goodsBox .medal{ font-size: 14px;color: #c00000;margin-right: 20px;}
.goodsBox .money{ font-size: 11px;color: #bfbfbf;text-decoration: line-through;}

.total{ width: 100%;height: 44px;line-height: 44px;background: #fff;text-align: right;font-size: 13px;border-bottom: 1px solid #999999;}
.total span{ margin: 0 15px; }

.form li{ width: 100%;height: 44px;border-bottom: 1px solid #f2f2f2;background: #fff;}
.form li table{ width: 95%;height: 44px;border-collapse: collapse;margin: auto;font-size: 13px;}
.form li table input{ width: 100%;height: 30px;text-align: right;border:none;outline: none;}

.subBtn{ width: 100%;height: 44px;color: #fff;font-size: 18px;border:none;background: #c00000;position: absolute;bottom: 0px;}

.time{ background: #fff;width: 100%;height: 50px;}
.time table{ width: 90%;margin: auto;height: 50px;font-size: 14px;border-collapse: collapse;}
.time table img{ width: 20px;}

.recordList li{ width: 100%;background: #fff;border-bottom: 1px solid #f2f2f2;padding: 8px 0;}
.recordList li table{ width: 90%;margin: auto;font-size: 13px;border-collapse: collapse;}
.recordList .goodsImg{ display: table;width: 44px;height: 44px;border-radius:10px;text-align: center;}
.recordList .goodsImg img{ max-width: 100%;max-height: 100%;}
.recordList .num{ font-size: 18px;text-align: right;}

.butBox{ width: 100%;height: 44px;position: absolute;bottom: 0px;}
.butBox input{ width: 90%;height: 30px;background: #c00000;color: #fff;font-size: 14px;border-radius:5px;margin: 6px 5%;border: none;}

.giftBox{ width: 80%;margin: auto;background: #fff;border-radius:10px;margin-top: 20px;}
.gift_name { text-align: center;font-size: 15px;line-height: 40px;}
.gift_img{ text-align: center;}
.gift_img img{ height: 150px;}
.gift_msg{ font-size: 16px;text-align: center;padding: 10px 0;}
.gift_footer{ border-top: 1px solid #c00000;width: 80%;margin: auto;padding: 10px 0;text-align: center;font-size: 14px;}

.result_point_box{ width: 100%;height: 44px;line-height: 44px;padding-left: 20px;font-size: 14px;background: #fff;}


















