<section ng-controller="addressListCtrl" style="background: #f2f2f2;">
    <header>
        <table>
            <tr>
                <td width="60" ng-click="toBack()"><img src="{{url}}/xunzhang/images/back_icon.png"/>返回</td>
                <td align="center" class="title">地址管理</td>
                <td align="right" width="60"></td>
            </tr>
        </table>
    </header>

    <div id="addressIscroll">
        <div>
            <div class="addressBox" ng-repeat="a in list" ng-click="toOrder()" style="margin-bottom: 10px;">
                <table>
                    <tr>
                        <td></td>
                        <td class="name">收货人：{{a.contacts}}</td>
                        <td class="cell">{{a.cellphone}}</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td class="addressImg"><img src="{{url}}/xunzhang/images/address_icon_1.png"/></td>
                        <td colspan="2" class="detail">收货地址：{{a.detailAddress}}</td>
                        <td class="toImg"></td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
    <div class="butBox">
        <input type="button" value="新建地址" ng-click="toAddress()"/>
    </div>
</section>