<style type="text/css">
	.contBox{ margin: 5px 15px; }
	.contBox table{ width: 100%;border-collapse: collapse;margin-top: 15px;}
	.contBox table td{ width: 33.33%;text-align: center;}
	.contBox table td img{ width: 70%;}
	.promptTitle{ font-size: 17px;padding: 5px 0; }
	.prize li{ list-style: none;line-height: 20px;}
	.prize table{ width: 100%;line-height: 16px;}
	.prize table td{ padding-bottom: 10px;font-size: 14px;}
</style>
<div class="contBox">
	<div class="goodsPrompt"></div>
	
	<table id="smokeBox">
		<tr>
			<td ng-repeat="a in actgoods.slice().reverse()" ng-click="toActivity()">
				<img src="{{a.imgUrl}}" /><br/>
				<span class="price"><font>{{a.price / 100}}元</font> / 包</span>
			</td>
		</tr>
	</table>
	
	<ul class="prize">
		<table>
			<tr>
				<td width="50" valign="top">特等奖</td>
				<td valign="top">价值200元</td>
			</tr>
			<tr>
				<td valign="top">一等奖</td>
				<td valign="top">流量包  2G</td>
			</tr>
			<tr>
				<td valign="top">二等奖</td>
				<td valign="top">流量包  500M</td>
			</tr>
			
			<tr>
				<td valign="top">三等奖</td>
				<td valign="top">1-10元随机减红包</td>
			</tr>	
			
			<tr>
				<td valign="top" colspan="2">2017年6月28日至2017年10月28日</td>
			</tr>
		</table>
	</ul>
</div>
