body{ margin: 0;padding: 0;font:14px/25px "Hiragino Sans GB","Hiragino Sans GB W3","Microsoft YaHei","微软雅黑",tahoma,arial,simsun,"宋体"}
body,html{-webkit-text-size-adjust: none;width: 100%;height: 100%;background:#FFF;color:#333;}
*{text-decoration: none;list-style: none;}
ul,li,dl,dd,dt,p,ol,h1,h2,h3,h4,h5{font-size: 14px;font-weight:500;padding: 0;margin: 0;}
a{text-decoration:none;color:#666; }
.wrap{margin: 0 auto;}
.fl{float: left;}
.fr{float: right;}
.index{overflow: hidden;}
.clr{clear:both; height:0; width:100%; font-size:1px; line-height:0; visibility:hidden; overflow:hidden;}
.pointer{cursor:pointer;}
a,input,button{ outline:none; }
/*=========================头部======================*/
header{width:100%;height: 45px;padding:0 10px;box-sizing:border-box;background:#E01616;color: #fff;display: flex;border-bottom:1px solid #e2e2e2}
header a{flex:1;color:#fff;display: block;height: 45px;line-height: 45px;}
header span{flex: 1;text-align: center;display: block;height: 45px;line-height: 45px;   }
/*=========================日期列表======================*/
.title{width: 100%;box-sizing: border-box;padding: 15px 8px;border-bottom: 2px solid #e2e2e2;}
.title p{width: 100%;height: 30px;}
.title p input{margin-left: 5px;width: 30%;}
.title p b{font-weight: 400;}
/*=========================详细列表======================*/
.list{width: 100%;box-sizing: border-box;padding: 3px 8px;}
.list .divL{width: 100%;margin: 10px 0;display: flex;}
.list .divL span{display: block;flex: 1;text-align: center;}